
.scroll-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.Pixso-frame-2_49,.Pixso-frame-2_58,.Pixso-frame-2_71,.Pixso-frame-2_86,.Pixso-frame-2_101,.Pixso-frame-2_150,.Pixso-frame-2_164,.frame-content-2_58 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.Pixso-frame-2_49 {
  height: 2800px;
  overflow: hidden;
  gap: 20px;
  padding: 0px 20px 40px 20px;
  background-color: var(--color-bg-cream);
}

.frame-content-2_58 {
  gap: 10px;
  padding: 36px 0px 4px 0px;
}

.Pixso-frame-2_59 {
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 6px 12px 6px 10px;
  border-radius: 100px 100px 100px 100px;
  background-color: var(--color-brand-purplesoft);
}

.Pixso-vector-2_60,.Pixso-frame-2_165,.Pixso-vector-2_166,.Pixso-frame-2_172,.Pixso-vector-2_182,.Pixso-vector-2_215,.Pixso-vector-2_216,.Pixso-frame-2_218,.Pixso-vector-2_219,.Pixso-frame-2_229,.Pixso-vector-2_270,.Pixso-vector-2_282,.Pixso-vector-2_292,.Pixso-vector-2_295,.Pixso-vector-2_298,.Pixso-vector-2_301,.Pixso-vector-2_309,.Pixso-vector-2_317,.Pixso-vector-2_323,.Pixso-vector-2_328,.Pixso-vector-2_334,.Pixso-vector-2_335 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-vector-2_60 {
  width: 14px;
  height: 14px;
  background-image: url(@/assets/images/sparkles7.svg);
}

.Pixso-paragraph-2_65,.Pixso-paragraph-2_66,.Pixso-paragraph-2_67,.Pixso-paragraph-2_69,.Pixso-paragraph-2_70,.Pixso-paragraph-2_140,.Pixso-paragraph-2_161,.Pixso-paragraph-2_72,.Pixso-paragraph-2_87,.Pixso-paragraph-2_102,.Pixso-paragraph-2_228,.Pixso-paragraph-2_232,.Pixso-paragraph-2_76,.Pixso-paragraph-2_80,.Pixso-paragraph-2_84,.Pixso-paragraph-2_91,.Pixso-paragraph-2_95,.Pixso-paragraph-2_99,.Pixso-paragraph-2_77,.Pixso-paragraph-2_81,.Pixso-paragraph-2_85,.Pixso-paragraph-2_92,.Pixso-paragraph-2_96,.Pixso-paragraph-2_100,.Pixso-paragraph-2_109,.Pixso-paragraph-2_116,.Pixso-paragraph-2_123,.Pixso-paragraph-2_130,.Pixso-paragraph-2_137,.Pixso-paragraph-2_107,.Pixso-paragraph-2_108,.Pixso-paragraph-2_115,.Pixso-paragraph-2_122,.Pixso-paragraph-2_129,.Pixso-paragraph-2_136,.Pixso-paragraph-2_114,.Pixso-paragraph-2_121,.Pixso-paragraph-2_128,.Pixso-paragraph-2_135,.Pixso-paragraph-2_139,.Pixso-paragraph-2_160,.Pixso-paragraph-2_203,.Pixso-paragraph-2_224,.Pixso-paragraph-2_254,.Pixso-paragraph-2_304,.Pixso-paragraph-2_142,.Pixso-paragraph-2_143,.Pixso-paragraph-2_146,.Pixso-paragraph-2_149,.Pixso-paragraph-2_152,.Pixso-paragraph-2_155,.Pixso-paragraph-2_158,.Pixso-paragraph-2_145,.Pixso-paragraph-2_148,.Pixso-paragraph-2_151,.Pixso-paragraph-2_154,.Pixso-paragraph-2_157,.Pixso-paragraph-2_163,.Pixso-paragraph-2_177,.Pixso-paragraph-2_194,.Pixso-paragraph-2_236,.Pixso-paragraph-2_289,.Pixso-paragraph-2_171,.Pixso-paragraph-2_173,.Pixso-paragraph-2_175,.Pixso-paragraph-2_180,.Pixso-paragraph-2_187,.Pixso-paragraph-2_192,.Pixso-paragraph-2_190,.Pixso-paragraph-2_197,.Pixso-paragraph-2_199,.Pixso-paragraph-2_201,.Pixso-paragraph-2_205,.Pixso-paragraph-2_206,.Pixso-paragraph-2_209,.Pixso-paragraph-2_222,.Pixso-paragraph-2_208,.Pixso-paragraph-2_212,.Pixso-paragraph-2_225,.Pixso-paragraph-2_255,.Pixso-paragraph-2_305,.Pixso-paragraph-2_227,.Pixso-paragraph-2_231,.Pixso-paragraph-2_234,.Pixso-paragraph-2_235,.Pixso-paragraph-2_240,.Pixso-paragraph-2_243,.Pixso-paragraph-2_246,.Pixso-paragraph-2_249,.Pixso-paragraph-2_252,.Pixso-paragraph-2_314,.Pixso-paragraph-2_320,.Pixso-paragraph-2_325,.Pixso-paragraph-2_330,.Pixso-paragraph-2_337,.Pixso-paragraph-2_259,.Pixso-paragraph-2_262,.Pixso-paragraph-2_265,.Pixso-paragraph-2_268,.Pixso-paragraph-2_275,.Pixso-paragraph-2_277,.Pixso-paragraph-2_279,.Pixso-paragraph-2_284,.Pixso-paragraph-2_286,.Pixso-paragraph-2_288,.Pixso-paragraph-2_293,.Pixso-paragraph-2_296,.Pixso-paragraph-2_299,.Pixso-paragraph-2_302,.Pixso-paragraph-2_339,.Pixso-paragraph-2_340 {
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  flex-grow: 0;
}

.Pixso-paragraph-2_65 {
  font-size: 11px;
  font-family: "DM Sans-Bold";
  letter-spacing: 0.8px;
  color: var(--color-brand-purple);
  white-space: pre;
}

.Pixso-paragraph-2_66,.Pixso-paragraph-2_67 {
  font-family: "Noto Sans SC-Regular";
  letter-spacing: 0px;
  width: 100%;
}

.Pixso-paragraph-2_66 {
  font-size: var(--font-display);
  line-height: 125%;
  font-feature-settings: "locl" 0;
  color: var(--color-text-primary);
}

.Pixso-paragraph-2_67 {
  font-size: 14px;
  line-height: 159.99999%;
  color: var(--color-text-secondary);
}

.Pixso-frame-2_68,.Pixso-frame-2_138,.Pixso-frame-2_159 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 24px 24px 24px 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  background-color: var(--color-bg-card);
}

.frame-content-2_68 {
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  padding: 20px 20px 20px 20px;
  width: 100%;
}

.Pixso-paragraph-2_69,.Pixso-paragraph-2_70,.Pixso-paragraph-2_140,.Pixso-paragraph-2_161,.Pixso-paragraph-2_151,.Pixso-paragraph-2_154,.Pixso-paragraph-2_157 {
  font-family: "Noto Sans SC-Regular";
  letter-spacing: 0px;
}

.Pixso-paragraph-2_69 {
  font-size: var(--font-h2);
  color: var(--color-text-primary);
  white-space: pre;
}

.Pixso-paragraph-2_70,.Pixso-paragraph-2_140,.Pixso-paragraph-2_161 {
  font-size: var(--font-caption);
  line-height: 159.99999%;
  color: var(--color-text-secondary);
  width: 100%;
}

.frame-content-2_71,.frame-content-2_86,.frame-content-2_164 {
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
}

.Pixso-paragraph-2_72,.Pixso-paragraph-2_87,.Pixso-paragraph-2_102,.Pixso-paragraph-2_228,.Pixso-paragraph-2_232 {
  font-size: 12px;
  font-family: "Noto Sans SC-Regular";
  letter-spacing: 0px;
  color: var(--color-text-secondary);
  white-space: pre;
}

.Pixso-frame-2_73,.Pixso-frame-2_88,.Pixso-frame-2_178,.frame-content-2_73,.frame-content-2_88,.frame-content-2_178 {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}

.frame-content-2_73,.frame-content-2_88,.frame-content-2_178,.frame-content-2_188,.frame-content-2_210,.frame-content-2_280,.frame-content-2_306 {
  gap: 10px;
}

.Pixso-frame-2_74,.Pixso-frame-2_78,.Pixso-frame-2_82,.Pixso-frame-2_89,.Pixso-frame-2_93,.Pixso-frame-2_97,.Pixso-frame-2_106,.Pixso-frame-2_113,.Pixso-frame-2_120,.Pixso-frame-2_127,.Pixso-frame-2_134,.Pixso-frame-2_179,.stroke-wrapper-2_179,.Pixso-frame-2_181,.Pixso-frame-2_189,.stroke-wrapper-2_189,.Pixso-frame-2_191,.Pixso-frame-2_196,.Pixso-frame-2_198,.Pixso-frame-2_200,.Pixso-frame-2_211,.Pixso-frame-2_238,.Pixso-frame-2_241,.Pixso-frame-2_244,.Pixso-frame-2_247,.Pixso-frame-2_250,.Pixso-frame-2_307,.Pixso-frame-2_315,.Pixso-frame-2_321,.Pixso-frame-2_326,.Pixso-frame-2_331 {
  flex-shrink: 1;
  flex-basis: 0;
}

.Pixso-frame-2_74,.Pixso-frame-2_78,.Pixso-frame-2_82,.Pixso-frame-2_89,.Pixso-frame-2_93,.Pixso-frame-2_97,.Pixso-frame-2_106,.Pixso-frame-2_113,.Pixso-frame-2_120,.Pixso-frame-2_127,.Pixso-frame-2_134 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  flex-grow: 1;
}

.frame-content-2_74,.frame-content-2_78,.frame-content-2_82,.frame-content-2_89,.frame-content-2_93,.frame-content-2_97 {
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  min-width: 0;
  width: 100%;
}

.Pixso-rectangle-2_75 {
  width: 100%;
  height: 100%;
  border-radius: 14px 14px 14px 14px;
  z-index: 0;
  background-color: var(--color-bg-cream);
}

.stroke-wrapper-2_75,.stroke-wrapper-2_79 {
  isolation: isolate;
  width: 100%;
  height: 44px;
}

.stroke-2_75,.stroke-2_79,.stroke-2_105,.stroke-2_112,.stroke-2_119,.stroke-2_126,.stroke-2_133,.stroke-2_179 {
  inset: 0px;
  z-index: 1;
}

.stroke-2_75,.stroke-2_79,.stroke-2_105,.stroke-2_112,.stroke-2_119,.stroke-2_126,.stroke-2_133,.stroke-2_179,.stroke-2_189,.stroke-2_207,.stroke-2_217,.stroke-2_336,.stroke-2_233,.stroke-2_281,.stroke-2_285,.stroke-2_287 {
  pointer-events: none;
  border-style: solid;
  box-sizing: border-box;
}

.stroke-2_75,.stroke-2_79,.stroke-2_105,.stroke-2_112,.stroke-2_119,.stroke-2_126,.stroke-2_133,.stroke-2_233 {
  border-width: 1px 1px 1px 1px;
  border-color: var(--color-border-base);
}

.stroke-2_75,.stroke-2_79 {
  position: absolute;
  border-radius: 14px 14px 14px 14px;
}

.Pixso-paragraph-2_76,.Pixso-paragraph-2_80,.Pixso-paragraph-2_84,.Pixso-paragraph-2_91,.Pixso-paragraph-2_95,.Pixso-paragraph-2_99 {
  font-size: var(--font-micro);
  font-family: "Noto Sans SC-Regular";
  letter-spacing: 0px;
  font-feature-settings: "locl" 0;
  color: var(--color-text-primary);
  width: 100%;
}

.Pixso-paragraph-2_77,.Pixso-paragraph-2_81,.Pixso-paragraph-2_85,.Pixso-paragraph-2_92,.Pixso-paragraph-2_96,.Pixso-paragraph-2_100,.Pixso-paragraph-2_109,.Pixso-paragraph-2_116,.Pixso-paragraph-2_123,.Pixso-paragraph-2_130,.Pixso-paragraph-2_137 {
  font-size: 10px;
  font-family: "Noto Sans SC-Regular";
  letter-spacing: 0px;
  color: var(--color-text-secondary);
  white-space: pre;
}

.Pixso-rectangle-2_79,.Pixso-rectangle-2_83,.Pixso-rectangle-2_90,.Pixso-rectangle-2_94,.Pixso-rectangle-2_98 {
  width: 100%;
  border-radius: 14px 14px 14px 14px;
}

.Pixso-rectangle-2_79 {
  height: 100%;
  z-index: 0;
  background-color: var(--color-bg-card);
}

.Pixso-rectangle-2_83 {
  height: 44px;
  background-color: var(--color-bg-input);
}

.Pixso-rectangle-2_90 {
  height: 44px;
  background-color: var(--color-text-primary);
}

.Pixso-rectangle-2_94 {
  height: 44px;
  background-color: var(--color-text-secondary);
}

.Pixso-rectangle-2_98 {
  height: 44px;
  background-color: var(--color-text-placeholder);
}

.frame-content-2_101 {
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  width: 100%;
}

.Pixso-frame-2_103,.Pixso-frame-2_110,.Pixso-frame-2_117,.Pixso-frame-2_124,.Pixso-frame-2_131,.Pixso-frame-2_162,.Pixso-frame-2_176 {
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.frame-content-2_103,.frame-content-2_110,.frame-content-2_117,.frame-content-2_124,.frame-content-2_131 {
  flex-direction: row;
  gap: 12px;
  align-items: center;
  width: 100%;
}

.Pixso-rectangle-2_104,.stroke-wrapper-2_105,.stroke-wrapper-2_112,.stroke-wrapper-2_119,.stroke-wrapper-2_126,.stroke-wrapper-2_133,.Pixso-rectangle-2_111,.Pixso-rectangle-2_118,.Pixso-rectangle-2_125,.Pixso-rectangle-2_132 {
  width: 38px;
  height: 38px;
}

.Pixso-rectangle-2_104 {
  border-radius: 13px 13px 13px 13px;
  background-color: var(--color-brand-purple);
}

.Pixso-rectangle-2_105 {
  width: 100%;
  height: 100%;
  border-radius: 13px 13px 13px 13px;
  z-index: 0;
  background-color: var(--color-brand-purplesoft);
}

.stroke-wrapper-2_105,.stroke-wrapper-2_112,.stroke-wrapper-2_119,.stroke-wrapper-2_126,.stroke-wrapper-2_133,.stroke-wrapper-2_281,.stroke-wrapper-2_285,.stroke-wrapper-2_287 {
  isolation: isolate;
}

.stroke-2_105,.stroke-2_112,.stroke-2_119,.stroke-2_126,.stroke-2_133 {
  position: absolute;
  border-radius: 13px 13px 13px 13px;
}

.frame-content-2_106,.frame-content-2_113,.frame-content-2_120,.frame-content-2_127,.frame-content-2_134 {
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  min-width: 0;
  width: 100%;
}

.Pixso-paragraph-2_107 {
  font-size: 12px;
  font-family: "Noto Sans SC-Regular";
  letter-spacing: 0px;
  color: var(--color-text-primary);
  width: 100%;
}

.Pixso-paragraph-2_108,.Pixso-paragraph-2_115,.Pixso-paragraph-2_122,.Pixso-paragraph-2_129,.Pixso-paragraph-2_136 {
  font-size: 9px;
  font-family: "Noto Sans SC-Regular";
  letter-spacing: 0px;
  color: var(--color-text-secondary);
  white-space: pre;
}

.Pixso-rectangle-2_111 {
  border-radius: 13px 13px 13px 13px;
  background-color: var(--color-brand-mint);
}

.Pixso-rectangle-2_112 {
  width: 100%;
  height: 100%;
  border-radius: 13px 13px 13px 13px;
  z-index: 0;
  background-color: var(--color-brand-mintsoft);
}

.Pixso-paragraph-2_114,.Pixso-paragraph-2_121,.Pixso-paragraph-2_128,.Pixso-paragraph-2_135 {
  font-size: 12px;
  font-family: "Noto Sans SC-Regular";
  letter-spacing: 0px;
  font-feature-settings: "locl" 0;
  color: var(--color-text-primary);
  width: 100%;
}

.Pixso-rectangle-2_118 {
  border-radius: 13px 13px 13px 13px;
  background-color: var(--color-brand-lemon);
}

.Pixso-rectangle-2_119 {
  width: 100%;
  height: 100%;
  border-radius: 13px 13px 13px 13px;
  z-index: 0;
  background-color: var(--color-brand-lemonsoft);
}

.Pixso-rectangle-2_125 {
  border-radius: 13px 13px 13px 13px;
  background-color: var(--color-brand-coral);
}

.Pixso-rectangle-2_126 {
  width: 100%;
  height: 100%;
  border-radius: 13px 13px 13px 13px;
  z-index: 0;
  background-color: var(--color-brand-coralsoft);
}

.Pixso-rectangle-2_132 {
  border-radius: 13px 13px 13px 13px;
  background-color: var(--color-brand-sky);
}

.Pixso-rectangle-2_133 {
  width: 100%;
  height: 100%;
  border-radius: 13px 13px 13px 13px;
  z-index: 0;
  background-color: var(--color-brand-skysoft);
}

.frame-content-2_138,.frame-content-2_159 {
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  padding: 20px 20px 20px 20px;
  width: 100%;
}

.Pixso-paragraph-2_139,.Pixso-paragraph-2_160,.Pixso-paragraph-2_203,.Pixso-paragraph-2_224,.Pixso-paragraph-2_254,.Pixso-paragraph-2_304 {
  font-size: var(--font-h2);
  font-family: "Noto Sans SC-ExtraBold";
  letter-spacing: 0px;
  color: var(--color-text-primary);
  white-space: pre;
}

.Pixso-frame-2_141,.Pixso-frame-2_144,.Pixso-frame-2_147,.Pixso-frame-2_153,.Pixso-frame-2_156,.frame-content-2_141,.frame-content-2_144,.frame-content-2_147,.frame-content-2_153,.frame-content-2_156 {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Pixso-paragraph-2_142,.Pixso-paragraph-2_143,.Pixso-paragraph-2_146,.Pixso-paragraph-2_149,.Pixso-paragraph-2_152,.Pixso-paragraph-2_155,.Pixso-paragraph-2_158,.Pixso-paragraph-2_145,.Pixso-paragraph-2_148 {
  letter-spacing: 0px;
  white-space: pre;
}

.Pixso-paragraph-2_142 {
  font-size: var(--font-display);
  font-family: "DM Sans-Bold";
  line-height: 120.000005%;
  color: var(--color-text-primary);
}

.Pixso-paragraph-2_143,.Pixso-paragraph-2_146,.Pixso-paragraph-2_149,.Pixso-paragraph-2_152,.Pixso-paragraph-2_155,.Pixso-paragraph-2_158 {
  font-size: 10px;
  font-family: "DM Sans-Medium";
  color: var(--color-text-placeholder);
}

.Pixso-paragraph-2_145 {
  font-size: var(--font-h1);
  font-family: "Noto Sans SC-ExtraBold";
  line-height: 129.999995%;
  color: var(--color-text-primary);
}

.Pixso-paragraph-2_148 {
  font-size: var(--font-h2);
  font-family: "Noto Sans SC-Bold";
  line-height: 139.999998%;
  color: var(--color-text-primary);
}

.frame-content-2_150 {
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  width: 100%;
}

.Pixso-paragraph-2_151 {
  font-size: var(--font-body);
  line-height: 164.999998%;
  color: var(--color-text-primary);
  width: 100%;
}

.Pixso-paragraph-2_154 {
  font-size: var(--font-caption);
  line-height: 159.99999%;
  color: var(--color-text-secondary);
  white-space: pre;
}

.Pixso-paragraph-2_157 {
  font-size: var(--font-data);
  line-height: 110.000002%;
  color: var(--color-brand-purple);
  white-space: pre;
}

.frame-content-2_162,.frame-content-2_176 {
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.Pixso-paragraph-2_163,.Pixso-paragraph-2_177,.Pixso-paragraph-2_194,.Pixso-paragraph-2_236,.Pixso-paragraph-2_289 {
  font-size: 12px;
  font-family: "Noto Sans SC-SemiBold";
  letter-spacing: 0px;
  color: var(--color-text-secondary);
  white-space: pre;
}

.Pixso-frame-2_165,.frame-content-2_165,.frame-content-2_172,.frame-content-2_174 {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Pixso-frame-2_165 {
  height: 52px;
  border-radius: 16px 16px 16px 16px;
  box-shadow: 0px 6px 16px 0px rgba(108, 92, 231, 0.2) ;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20310%2052'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(1.0000%2C%200.0000%2C%200.0000%2C%201.0000%2C%200.0000%2C%200.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(108%2C92%2C231%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(169%2C155%2C245%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
  background-position: center;
}

.frame-content-2_165,.frame-content-2_172,.frame-content-2_174 {
  gap: 8px;
  height: 100%;
}

.Pixso-vector-2_166 {
  width: 18px;
  height: 18px;
  background-image: url(@/assets/images/sparkles4.svg);
}

.Pixso-paragraph-2_171,.Pixso-paragraph-2_173 {
  font-size: var(--font-body);
  font-family: "Noto Sans SC-Bold";
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  white-space: pre;
}

.Pixso-frame-2_172,.Pixso-frame-2_174 {
  width: 100%;
  height: 52px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 16px 16px 16px 16px;
}

.Pixso-frame-2_172 {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20310%2052'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(1.0000%2C%200.0000%2C%200.0000%2C%201.0000%2C%200.0000%2C%200.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(90%2C73%2C214%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(132%2C116%2C238%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
  background-position: center;
}

.Pixso-frame-2_174 {
  background-color: var(--color-bg-input);
}

.Pixso-paragraph-2_175 {
  font-size: var(--font-body);
  font-family: "Noto Sans SC-SemiBold";
  letter-spacing: 0px;
  color: var(--color-text-placeholder);
  white-space: pre;
}

.Pixso-frame-2_179,.frame-content-2_179 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}

.Pixso-frame-2_179 {
  flex-grow: 1;
  border-radius: 100px 100px 100px 100px;
  z-index: 0;
  background-color: var(--color-brand-purplesoft);
}

.frame-content-2_179,.frame-content-2_193,.frame-content-2_237 {
  gap: 8px;
}

.stroke-wrapper-2_179 {
  isolation: isolate;
  width: 100%;
  height: 48px;
  flex-grow: 1;
}

.stroke-2_179 {
  position: absolute;
  border-radius: 100px 100px 100px 100px;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: var(--color-brand-purple);
}

.Pixso-paragraph-2_180 {
  font-size: 14px;
  font-family: "Noto Sans SC-SemiBold";
  letter-spacing: 0px;
  color: var(--color-brand-purple);
  white-space: pre;
}

.Pixso-frame-2_179-content-layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.Pixso-frame-2_181,.frame-content-2_181,.frame-content-2_189 {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}

.Pixso-frame-2_181 {
  height: 48px;
  flex-grow: 1;
  border-radius: 100px 100px 100px 100px;
  background-color: var(--color-brand-mint);
}

.frame-content-2_181,.frame-content-2_189 {
  gap: 8px;
  height: 100%;
}

.Pixso-vector-2_182 {
  width: 16px;
  height: 16px;
  background-image: url(@/assets/images/refreshcw.svg);
}

.Pixso-paragraph-2_187,.Pixso-paragraph-2_192 {
  font-size: 14px;
  font-family: "Noto Sans SC-Bold";
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  white-space: pre;
}

.Pixso-frame-2_188,.frame-content-2_188 {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}

.Pixso-frame-2_189,.stroke-wrapper-2_189 {
  width: 100%;
  flex-grow: 1;
}

.Pixso-frame-2_189 {
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  border-radius: 100px 100px 100px 100px;
  z-index: 0;
  background-color: var(--color-bg-card);
}

.stroke-wrapper-2_189 {
  isolation: isolate;
  height: 48px;
}

.stroke-2_189 {
  position: absolute;
  inset: 0px;
  border-radius: 100px 100px 100px 100px;
  z-index: 1;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: var(--color-brand-coral);
}

.Pixso-paragraph-2_190 {
  font-size: 14px;
  font-family: "Noto Sans SC-SemiBold";
  letter-spacing: 0px;
  color: var(--color-brand-coral);
  white-space: pre;
}

.Pixso-frame-2_189-content-layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.Pixso-frame-2_191,.frame-content-2_191,.Pixso-frame-2_193,.frame-content-2_193 {
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.Pixso-frame-2_191 {
  height: 48px;
  justify-content: center;
  min-width: 0;
  flex-grow: 1;
  border-radius: 100px 100px 100px 100px;
  background-color: var(--color-brand-sky);
}

.frame-content-2_191 {
  gap: 8px;
  justify-content: center;
  min-width: 0;
  height: 100%;
}

.Pixso-frame-2_195,.frame-content-2_195 {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}

.Pixso-frame-2_195 {
  height: 44px;
  border-radius: 100px 100px 100px 100px;
  background-color: var(--color-bg-input);
}

.frame-content-2_195 {
  gap: 4px;
  padding: 4px 4px 4px 4px;
  height: 100%;
}

.Pixso-frame-2_196,.frame-content-2_196,.frame-content-2_198,.frame-content-2_200 {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}

.Pixso-frame-2_196,.Pixso-frame-2_198,.Pixso-frame-2_200 {
  height: 36px;
  align-self: stretch;
}

.Pixso-frame-2_196 {
  flex-grow: 1;
  border-radius: 100px 100px 100px 100px;
  box-shadow: 0px 2px 8px 0px rgba(45, 42, 38, 0.078431) ;
  background-color: var(--color-bg-card);
}

.frame-content-2_196,.frame-content-2_198,.frame-content-2_200 {
  height: 100%;
}

.Pixso-paragraph-2_197 {
  font-size: 13px;
  font-family: "Noto Sans SC-Bold";
  letter-spacing: 0px;
  color: var(--color-brand-purple);
  white-space: pre;
}

.Pixso-frame-2_198,.Pixso-frame-2_200 {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  flex-grow: 1;
  border-radius: 100px 100px 100px 100px;
}

.Pixso-paragraph-2_199,.Pixso-paragraph-2_201 {
  font-size: 13px;
  font-family: "Noto Sans SC-Medium";
  letter-spacing: 0px;
  color: var(--color-text-secondary);
  white-space: pre;
}

.Pixso-frame-2_202,.frame-content-2_202 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.Pixso-frame-2_202 {
  border-radius: 24px 24px 24px 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  background-color: var(--color-bg-card);
}

.frame-content-2_202 {
  gap: 14px;
  padding: 20px 20px 20px 20px;
}

.Pixso-frame-2_204 {
  width: 100%;
  height: 52px;
  flex-direction: row;
  align-items: center;
  border-radius: 16px 16px 16px 16px;
  background-color: var(--color-bg-input);
}

.frame-content-2_204,.frame-content-2_207 {
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 0px 16px 0px 16px;
  width: 100%;
  height: 100%;
}

.Pixso-paragraph-2_205,.Pixso-paragraph-2_206,.Pixso-paragraph-2_209,.Pixso-paragraph-2_222 {
  font-family: "Noto Sans SC-Regular";
  letter-spacing: 0px;
  color: var(--color-text-placeholder);
  white-space: pre;
}

.Pixso-paragraph-2_205 {
  font-size: var(--font-h3);
}

.Pixso-paragraph-2_206,.Pixso-paragraph-2_209,.Pixso-paragraph-2_222 {
  font-size: 11px;
}

.Pixso-frame-2_207 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  border-radius: 16px 16px 16px 16px;
  z-index: 0;
  background-color: var(--color-bg-card);
}

.stroke-wrapper-2_207 {
  isolation: isolate;
  width: 100%;
  height: 52px;
}

.stroke-2_207 {
  position: absolute;
  inset: 0px;
  border-radius: 16px 16px 16px 16px;
  z-index: 1;
  border-width: 2px 2px 2px 2px;
  border-color: var(--color-brand-purple);
}

.Pixso-paragraph-2_208 {
  font-size: var(--font-h3);
  font-family: "Noto Sans SC-Regular";
  letter-spacing: 0px;
  color: var(--color-text-primary);
  white-space: pre;
}

.Pixso-frame-2_207-content-layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.Pixso-frame-2_210,.Pixso-frame-2_256,.Pixso-frame-2_280,.Pixso-frame-2_290,.Pixso-frame-2_306,.frame-content-2_210,.frame-content-2_280,.frame-content-2_306,.Pixso-frame-2_211,.frame-content-2_211 {
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.Pixso-frame-2_211 {
  height: 48px;
  min-width: 0;
  flex-grow: 1;
  border-radius: 24px 24px 24px 24px;
  background-color: var(--color-bg-input);
}

.frame-content-2_211 {
  gap: 10px;
  min-width: 0;
  padding: 0px 16px 0px 16px;
  height: 100%;
}

.Pixso-paragraph-2_212 {
  font-size: var(--font-body);
  font-family: "DM Sans-Medium";
  letter-spacing: 0px;
  color: var(--color-text-primary);
  white-space: pre;
}

.Pixso-frame-2_213 {
  width: 48px;
  height: 48px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 24px 24px 24px 24px;
  box-shadow: 0px 4px 12px 0px rgba(108, 92, 231, 0.2) ;
  background-color: var(--color-brand-purple);
}

.frame-content-2_213,.frame-content-2_218,.frame-content-2_308,.frame-content-2_316,.frame-content-2_322,.frame-content-2_327,.frame-content-2_332 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Pixso-frame-2_214,.Pixso-frame-2_333,.Pixso-vector-2_219,.Pixso-vector-2_309,.Pixso-vector-2_317,.Pixso-vector-2_323,.Pixso-vector-2_328 {
  width: 20px;
  height: 20px;
}

.Pixso-vector-2_215,.Pixso-vector-2_216,.Pixso-vector-2_334,.Pixso-vector-2_335 {
  position: absolute;
}

.Pixso-vector-2_215,.Pixso-vector-2_334 {
  width: 8.33%;
  height: 20.83%;
  left: 50%;
  right: 41.67%;
  top: 79.17%;
  bottom: 0%;
}

.Pixso-vector-2_215 {
  background-image: url(@/assets/images/Vector_2_215.svg);
}

.Pixso-vector-2_216,.Pixso-vector-2_335 {
  width: 66.67%;
  height: 45.87%;
  left: 20.83%;
  right: 12.5%;
  top: 41.67%;
  bottom: 12.46%;
}

.Pixso-vector-2_216 {
  background-image: url(@/assets/images/Vector_2_216.svg);
}

.Pixso-rectangle-2_217,.Pixso-rectangle-2_336 {
  width: 100%;
  height: 100%;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
  z-index: 0;
}

.stroke-wrapper-2_217,.stroke-wrapper-2_336 {
  position: absolute;
  isolation: isolate;
  left: 37.5%;
  top: 8.33%;
  right: 37.5%;
  bottom: 37.5%;
  width: 25%;
  height: 54.17%;
}

.stroke-2_217,.stroke-2_336 {
  position: absolute;
  inset: -0.8333335px -0.8333335px -0.8333335px -0.8333335px;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
  z-index: 1;
  border-width: 1.666667px 1.666667px 1.666667px 1.666667px;
  border-color: rgba(255, 255, 255, 1);
}

.Pixso-frame-2_218 {
  width: 48px;
  height: 48px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 16px 16px 16px 16px;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%2048%2048'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(1.0000%2C%200.0000%2C%200.0000%2C%201.0000%2C%200.0000%2C%200.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(108%2C92%2C231%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(169%2C155%2C245%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
  background-position: center;
}

.Pixso-vector-2_219 {
  background-image: url(@/assets/images/send.svg);
}

.Pixso-frame-2_223,.Pixso-frame-2_226,.Pixso-frame-2_253,.Pixso-frame-2_303 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 24px 24px 24px 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  background-color: var(--color-bg-card);
}

.frame-content-2_223,.frame-content-2_253,.frame-content-2_303 {
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  padding: 20px 20px 20px 20px;
  width: 100%;
}

.Pixso-paragraph-2_225,.Pixso-paragraph-2_255,.Pixso-paragraph-2_305 {
  font-size: var(--font-caption);
  font-family: "Noto Sans SC-Regular";
  letter-spacing: 0px;
  line-height: 159.99999%;
  color: var(--color-text-secondary);
  width: 100%;
}

.frame-content-2_226,.frame-content-2_230 {
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  padding: 16px 16px 16px 16px;
  width: 100%;
}

.Pixso-paragraph-2_227,.Pixso-paragraph-2_231 {
  font-size: var(--font-h3);
  font-family: "Noto Sans SC-Bold";
  letter-spacing: 0px;
  color: var(--color-text-primary);
  white-space: pre;
}

.Pixso-frame-2_229,.frame-content-2_229,.Pixso-frame-2_230,.Pixso-frame-2_233,.frame-content-2_233,.Pixso-frame-2_338,.frame-content-2_338 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.Pixso-frame-2_229 {
  border-radius: 26px 26px 26px 26px;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D'0%200%20310%2078'%20preserveAspectRatio%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D'grad'%20gradientUnits%3D'objectBoundingBox'%20x1%3D'0'%20y1%3D'0.5'%20x2%3D'1'%20y2%3D'0.5'%20gradientTransform%3D'matrix(1.0000%2C%200.0000%2C%200.0000%2C%201.0000%2C%200.0000%2C%200.0000)'%3E%0A%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D'rgba(108%2C92%2C231%2C1)'%20offset%3D'0'%2F%3E%3Cstop%20stop-color%3D'rgba(78%2C205%2C196%2C1)'%20offset%3D'1'%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Crect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'url(%23grad)'%2F%3E%0A%20%20%20%20%3C%2Fsvg%3E");
  background-position: center;
}

.frame-content-2_229 {
  padding: 2px 2px 2px 2px;
}

.Pixso-frame-2_230 {
  border-radius: 24px 24px 24px 24px;
  background-color: var(--color-bg-card);
}

.Pixso-frame-2_233 {
  height: 100%;
  border-radius: 16px 16px 16px 16px;
  z-index: 1;
  background-color: var(--color-bg-code);
}

.frame-content-2_233 {
  gap: 6px;
  padding: 14px 14px 14px 14px;
}

.stroke-wrapper-2_233 {
  isolation: isolate;
  width: 100%;
}

.stroke-2_233 {
  position: absolute;
  inset: 0px;
  border-radius: 16px 16px 16px 16px;
  z-index: 0;
}

.Pixso-paragraph-2_234,.Pixso-paragraph-2_235 {
  letter-spacing: 0px;
}

.Pixso-paragraph-2_234 {
  font-size: 10px;
  font-family: "Noto Sans SC-Medium";
  color: var(--color-text-placeholder);
  white-space: pre;
}

.Pixso-paragraph-2_235 {
  font-size: 12px;
  font-family: "DM Sans-Medium";
  line-height: 169.999993%;
  font-feature-settings: "locl" 0;
  color: var(--color-text-primary);
  width: 100%;
}

.Pixso-frame-2_237,.frame-content-2_237 {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}

.Pixso-frame-2_238,.Pixso-frame-2_241,.Pixso-frame-2_244,.Pixso-frame-2_247,.Pixso-frame-2_250 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  flex-grow: 1;
}

.frame-content-2_238,.frame-content-2_241,.frame-content-2_244,.frame-content-2_247,.frame-content-2_250 {
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  min-width: 0;
  width: 100%;
}

.Pixso-rectangle-2_239 {
  width: 100%;
  height: 40px;
  border-radius: 24px 24px 24px 24px;
  background-color: var(--color-brand-purplesoft);
}

.Pixso-paragraph-2_240,.Pixso-paragraph-2_243,.Pixso-paragraph-2_246,.Pixso-paragraph-2_249,.Pixso-paragraph-2_252,.Pixso-paragraph-2_314,.Pixso-paragraph-2_320,.Pixso-paragraph-2_325,.Pixso-paragraph-2_330,.Pixso-paragraph-2_337 {
  font-size: 10px;
  font-family: "Noto Sans SC-Medium";
  letter-spacing: 0px;
  color: var(--color-text-secondary);
  white-space: pre;
}

.Pixso-rectangle-2_242,.Pixso-rectangle-2_245,.Pixso-rectangle-2_248,.Pixso-rectangle-2_251 {
  width: 100%;
  height: 40px;
  background-color: var(--color-brand-purplesoft);
}

.Pixso-rectangle-2_242 {
  border-radius: 20px 20px 20px 20px;
}

.Pixso-rectangle-2_245 {
  border-radius: 16px 16px 16px 16px;
}

.Pixso-rectangle-2_248 {
  border-radius: 14px 14px 14px 14px;
}

.Pixso-rectangle-2_251 {
  border-radius: 10px 10px 10px 10px;
}

.frame-content-2_256,.Pixso-frame-2_257 {
  flex-direction: row;
  align-items: center;
}

.frame-content-2_256 {
  flex-wrap: wrap;
  gap: 8px 8px;
  align-content: center;
  width: 100%;
}

.Pixso-frame-2_257 {
  gap: 6px;
  padding: 7px 12px 7px 12px;
  border-radius: 100px 100px 100px 100px;
  background-color: var(--color-brand-mintsoft);
}

.Pixso-rectangle-2_258,.Pixso-rectangle-2_261,.Pixso-rectangle-2_264,.Pixso-rectangle-2_267 {
  width: 6px;
  height: 6px;
  border-radius: 3px 3px 3px 3px;
}

.Pixso-rectangle-2_258 {
  background-color: var(--color-brand-mint);
}

.Pixso-paragraph-2_259 {
  font-size: 12px;
  font-family: "Noto Sans SC-Bold";
  letter-spacing: 0px;
  color: rgba(47, 158, 150, 1);
  white-space: pre;
}

.Pixso-frame-2_260 {
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 7px 12px 7px 12px;
  border-radius: 100px 100px 100px 100px;
  background-color: var(--color-brand-lemonsoft);
}

.Pixso-rectangle-2_261 {
  background-color: var(--color-brand-lemon);
}

.Pixso-paragraph-2_262 {
  font-size: 12px;
  font-family: "Noto Sans SC-Bold";
  letter-spacing: 0px;
  color: rgba(176, 138, 0, 1);
  white-space: pre;
}

.Pixso-frame-2_263 {
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 7px 12px 7px 12px;
  border-radius: 100px 100px 100px 100px;
  background-color: var(--color-brand-coralsoft);
}

.Pixso-rectangle-2_264 {
  background-color: var(--color-brand-coral);
}

.Pixso-paragraph-2_265 {
  font-size: 12px;
  font-family: "Noto Sans SC-Bold";
  letter-spacing: 0px;
  color: rgba(224, 72, 63, 1);
  white-space: pre;
}

.Pixso-frame-2_266 {
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 7px 12px 7px 12px;
  border-radius: 100px 100px 100px 100px;
  background-color: var(--color-brand-skysoft);
}

.Pixso-rectangle-2_267 {
  background-color: var(--color-brand-sky);
}

.Pixso-paragraph-2_268 {
  font-size: 12px;
  font-family: "Noto Sans SC-Bold";
  letter-spacing: 0px;
  color: rgba(46, 111, 214, 1);
  white-space: pre;
}

.Pixso-frame-2_269 {
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 7px 12px 7px 12px;
  border-radius: 100px 100px 100px 100px;
  background-color: var(--color-brand-purplesoft);
}

.Pixso-vector-2_270 {
  width: 12px;
  height: 12px;
  background-image: url(@/assets/images/sparkles6.svg);
}

.Pixso-paragraph-2_275 {
  font-size: 12px;
  font-family: "Noto Sans SC-Bold";
  letter-spacing: 0px;
  color: var(--color-brand-purple);
  white-space: pre;
}

.Pixso-frame-2_276 {
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 7px 12px 7px 12px;
  border-radius: 100px 100px 100px 100px;
  background-color: var(--color-brand-purple);
}

.Pixso-paragraph-2_277,.Pixso-paragraph-2_279 {
  font-size: 12px;
  font-family: "Noto Sans SC-Bold";
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  white-space: pre;
}

.Pixso-frame-2_278,.Pixso-frame-2_281 {
  flex-direction: row;
  gap: 6px;
  align-items: center;
  border-radius: 100px 100px 100px 100px;
}

.Pixso-frame-2_278 {
  padding: 7px 12px 7px 12px;
  background-color: var(--color-brand-mint);
}

.Pixso-frame-2_281 {
  width: 100%;
  height: 100%;
  padding: 6px 14px 6px 14px;
  z-index: 1;
  background-color: var(--color-brand-mintsoft);
}

.stroke-2_281 {
  position: absolute;
  inset: 0px;
  border-radius: 100px 100px 100px 100px;
  z-index: 0;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: var(--color-brand-mint);
}

.Pixso-vector-2_282 {
  width: 14px;
  height: 14px;
  background-image: url(@/assets/images/check1.svg);
}

.Pixso-paragraph-2_284 {
  font-size: 13px;
  font-family: "DM Sans-Bold";
  letter-spacing: 0.4px;
  color: rgba(47, 158, 150, 1);
  white-space: pre;
}

.Pixso-frame-2_285 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 6px 14px 6px 14px;
  border-radius: 100px 100px 100px 100px;
  z-index: 1;
  background-color: var(--color-bg-card);
}

.stroke-2_285 {
  position: absolute;
  inset: 0px;
  border-radius: 100px 100px 100px 100px;
  z-index: 0;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: var(--color-brand-coral);
}

.Pixso-paragraph-2_286 {
  font-size: 13px;
  font-family: "DM Sans-Bold";
  letter-spacing: 0.4px;
  color: rgba(224, 72, 63, 1);
  white-space: pre;
}

.Pixso-frame-2_287 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 10px 20px 10px 20px;
  border-radius: 100px 100px 100px 100px;
  z-index: 1;
  background-color: var(--color-brand-mintsoft);
}

.stroke-2_287 {
  position: absolute;
  inset: 0px;
  border-radius: 100px 100px 100px 100px;
  z-index: 0;
  border-width: 2px 2px 2px 2px;
  border-color: var(--color-brand-mint);
}

.Pixso-paragraph-2_288 {
  font-size: 22px;
  font-family: "DM Sans-Bold";
  letter-spacing: 0.5px;
  color: rgba(47, 158, 150, 1);
  white-space: pre;
}

.frame-content-2_290 {
  flex-direction: row;
  gap: 14px;
  align-items: center;
  width: 100%;
}

.Pixso-frame-2_291,.Pixso-frame-2_294,.Pixso-frame-2_297,.Pixso-frame-2_300 {
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.Pixso-vector-2_292,.Pixso-vector-2_295,.Pixso-vector-2_298,.Pixso-vector-2_301 {
  width: 10px;
  height: 10px;
}

.Pixso-vector-2_292 {
  background-image: url(@/assets/images/Dot2.svg);
}

.Pixso-paragraph-2_293,.Pixso-paragraph-2_296,.Pixso-paragraph-2_299,.Pixso-paragraph-2_302 {
  font-size: 11px;
  font-family: "Noto Sans SC-Regular";
  letter-spacing: 0px;
  color: var(--color-text-secondary);
  white-space: pre;
}

.Pixso-vector-2_295 {
  background-image: url(@/assets/images/Dot1.svg);
}

.Pixso-vector-2_298 {
  background-image: url(@/assets/images/Dot0.svg);
}

.Pixso-vector-2_301 {
  background-image: url(@/assets/images/Dot.svg);
}

.Pixso-frame-2_307,.Pixso-frame-2_315,.Pixso-frame-2_321,.Pixso-frame-2_326,.Pixso-frame-2_331 {
  width: 100%;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  flex-grow: 1;
}

.frame-content-2_307,.frame-content-2_315,.frame-content-2_321,.frame-content-2_326,.frame-content-2_331 {
  flex-direction: column;
  gap: 6px;
  align-items: center;
  min-width: 0;
  width: 100%;
}

.Pixso-frame-2_308,.Pixso-frame-2_316,.Pixso-frame-2_322,.Pixso-frame-2_327,.Pixso-frame-2_332 {
  width: 44px;
  height: 44px;
}

.Pixso-frame-2_308 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 14px 14px 14px 14px;
  background-color: var(--color-brand-purple);
}

.Pixso-vector-2_309 {
  background-image: url(@/assets/images/sparkles5.svg);
}

.Pixso-frame-2_316 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 14px 14px 14px 14px;
  background-color: var(--color-brand-mint);
}

.Pixso-vector-2_317 {
  background-image: url(@/assets/images/bookopen6.svg);
}

.Pixso-frame-2_322 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 14px 14px 14px 14px;
  background-color: var(--color-brand-lemon);
}

.Pixso-vector-2_323 {
  background-image: url(@/assets/images/flame0.svg);
}

.Pixso-frame-2_327 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 14px 14px 14px 14px;
  background-color: var(--color-brand-coral);
}

.Pixso-vector-2_328 {
  background-image: url(@/assets/images/zap.svg);
}

.Pixso-frame-2_332 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 14px 14px 14px 14px;
  background-color: var(--color-brand-sky);
}

.Pixso-vector-2_334 {
  background-image: url(@/assets/images/Vector_2_334.svg);
}

.Pixso-vector-2_335 {
  background-image: url(@/assets/images/Vector_2_335.svg);
}

.Pixso-frame-2_338 {
  flex-grow: 1;
}

.frame-content-2_338 {
  gap: 8px;
  padding: 8px 0px 0px 0px;
  height: 100%;
}

.Pixso-paragraph-2_339,.Pixso-paragraph-2_340 {
  letter-spacing: 0px;
  width: 100%;
}

.Pixso-paragraph-2_339 {
  font-size: 12px;
  font-family: "Noto Sans SC-SemiBold";
  font-feature-settings: "locl" 0;
  color: var(--color-brand-coral);
}

.Pixso-paragraph-2_340 {
  font-size: 11px;
  font-family: "Noto Sans SC-Regular";
  line-height: 159.99999%;
  color: var(--color-text-placeholder);
}
